extends layout

block content
    h1= title

    p Welcome to #{title}

    .container

        .panel.panel-default
            .panel-heading Photo
            .panel-body
                img(src= user.photos[0].value)

        .panel.panel-default
            .panel-heading Basics
            .panel-body
                label(for='adisplay') Display Name
                p#adisplay #{user.displayName}

                label(for='userName') User Name
                p#userName #{user._json.name}

                label(for='userId') User Id
                p#userId  #{user.id}

        .panel.panel-default
            .panel-heading Basics
            .panel-body
                pre= userInfo